@using Tasq.ViewModels
@model CreateDepartamentoVM

<title>
    @{
        ViewData["Title"] = "Departamentos";
    }
</title>


<h1>Crear un Departamento en la Sede @Model.NombreSede </h1>

<br>
<br>

<form method="post" asp-action="Create">
    <input type="hidden" asp-for="@Model.IdSede" id="Id" />

    <div class="form-group">
        <label asp-for="Nombre">Nombre</label>
        <input asp-for="Nombre" class="form-control" placeholder="Nombre del Departamento">
        <span asp-validation-for="Nombre" class="text.danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FotoUrl">Foto</label>
        <input asp-for="FotoUrl" class="form-control" placeholder="Imagen (URL)">
        <span asp-validation-for="FotoUrl" class="text.danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Descripcion">Descripción</label>
        <textarea asp-for="Descripcion" class="form-control" rows="4" placeholder="Descripción"></textarea>
        <span asp-validation-for="Descripcion" class="text.danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

