html {
  font-size: 14px;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.grid2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 2rem;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .grid2 {
        grid-template-columns: repeat(2, 1fr)
    }
}



/* Para checar los criterios de la pw */
.password-indicator {
    list-style-type: none;
    padding: 0;
}

.password-indicator li {
    display: flex;
    align-items: center;
}

.password-indicator li i {
    margin-right: 5px;
    color: red;
}

.password-indicator li.complete i {
    color: green;
}


/* Para la visibilidad de la pw */
.pw-ojito {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}


.password-input-container {
    position: relative;
}

.pw-ojito {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}



.img-userlist, .img-user {
    display: block; 
    margin: 0 auto; 
    object-fit: cover; 
    object-position: center;
    
}

.img-userlist {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.img-user {
    width: 300px;
    height: 300px;
}


