
@using Tasq.ViewModels
@model ErrorViewModel


@{
    ViewData["Title"] = "Error";
}


<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


@if (Model.StatusCode.HasValue)
{
    <h2>Código de Error: @Model.StatusCode</h2>
}

<p>@Model.Message</p>
<p>ID de la Solicitud: @Model.RequestId</p>
